trunk/healthfarm/src/schema/healthfarm-data.dtd

<!ELEMENT dataset (
    Standard|
    UserProfile)*>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT Standard EMPTY>
<!ATTLIST Standard
    StandardId CDATA #REQUIRED
    HeightFrom CDATA #REQUIRED
    HeightTo CDATA #REQUIRED
    WeightFrom CDATA #REQUIRED
    WeightTo CDATA #REQUIRED
    AgeFrom CDATA #REQUIRED
    AgeTo CDATA #REQUIRED
    IsFemale CDATA #REQUIRED
    DailyCalorie CDATA #REQUIRED
>

<!ELEMENT UserProfile EMPTY>
<!ATTLIST UserProfile
    ProfileId CDATA #REQUIRED
    UserId CDATA #REQUIRED
    BirthYear CDATA #REQUIRED
    Weight CDATA #REQUIRED
    Height CDATA #REQUIRED
    IsFemale CDATA #REQUIRED
>

