trunk/laputa/laputa-identity-api/src/main/resources/META-INF/cyclopsgroup/LaputaIdentityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="service"
	targetNamespace="http://www.cyclopsgroup.org/identity"
	xmlns:ids="http://www.cyclopsgroup.org/identity"
	xmlns:msg="http://www.cyclopsgroup.org/identity/message"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.cyclopsgroup.org/identity/message">
			<element name="username" type="string" />
			<element name="credential">
				<complexType>
					<sequence>
						<element ref="msg:username" />
						<element name="password" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="identity">
				<complexType>
					<sequence>
						<element ref="msg:username" />
						<element name="language" type="string" />
						<element name="country" type="string" />
						<element name="timezone" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="authentication-result">
				<simpleType>
					<restriction>
						<enumeration value="SUCCESSFUL" />
						<enumeration value="NO_SUCH_USER" />
						<enumeration value="DISABLED_USER" />
						<enumeration value="WRONG_PASSWORD" />
						<enumeration value="ERROR" />
					</restriction>
				</simpleType>
			</element>
			<element name="ticket" type="string" />
		</schema>
	</types>
	<message name="authenticateRequest">
		<part name="credential" type="msg:credential" />
	</message>
	<message name="authenticateResponse">
		<part name="authenticationResult"
			type="msg:authentication-result" />
	</message>
	<message name="signInRequest">
		<part name="username" type="msg:username" />
	</message>
	<message name="ticket">
		<part name="ticket" type="msg:ticket" />
	</message>
	<message name="identity">
		<part name="identity" element="msg:identity" />
	</message>

	<portType name="IdentityServicePortType">
		<operation name="authenticate">
			<input message="authenticateRequest" />
			<output message="authenticateResponse" />
		</operation>
		<operation name="signIn">
			<input message="signInRequest" />
			<output message="ticket" />
		</operation>
		<operation name="signOut">
			<input message="ticket" />
		</operation>
		<operation name="getIdentity">
			<input message="ticket" />
			<output message="identity" />
		</operation>
	</portType>

	<binding name="IdentityServiceBinding"
		type="ids:IdentityServicePortType">
		<soap:binding style="document"
			transport="http://live.cyclopsgroup.org/webservice/identity" />
		<operation name="authenticate">
			<soap:operation style="document"
				soapAction="http://www.cyclopsgroup.org/identity:authenticate" />
			<input>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</output>
		</operation>
		<operation name="signIn">
			<soap:operation style="document"
				soapAction="http://www.cyclopsgroup.org/identity:signIn" />
			<input>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</output>
		</operation>
		<operation name="signOut">
			<soap:operation style="document"
				soapAction="http://www.cyclopsgroup.org/identity:signOut" />
			<input>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</output>
		</operation>
		<operation name="getIdentity">
			<soap:operation style="document"
				soapAction="http://www.cyclopsgroup.org/identity:getIdentity" />
			<input>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://www.cyclopsgroup.org/identity" />
			</output>
		</operation>
	</binding>

	<service name="IdentityService">
		<port name="webservice" binding="ids:IdentityServiceBinding">
			<soap:address
				location="http://live.cyclopsgroup.org/webservice/identity" />
		</port>
	</service>
</definitions>