trunk/tornado/src/schema/tornado-data.dtd

<!ELEMENT dataset (
    DUser|
    UserObject|
    Group|
    GroupHierarchy|
    UserGroup|
    Acl|
    Role|
    DConf|
    DMenu)*>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT DUser EMPTY>
<!ATTLIST DUser
    UserId CDATA #REQUIRED
    UserName CDATA #REQUIRED
    EncryptedPassword CDATA #REQUIRED
    Description CDATA #IMPLIED
    IsSystem CDATA #REQUIRED
    Email CDATA #REQUIRED
    FirstName CDATA #REQUIRED
    MiddleName CDATA #IMPLIED
    LastName CDATA #REQUIRED
    LastSignin CDATA #IMPLIED
    SigninCounter CDATA #REQUIRED
    LastAccess CDATA #IMPLIED
    CreatedTime CDATA #IMPLIED
    IsDisabled CDATA #REQUIRED
>

<!ELEMENT UserObject EMPTY>
<!ATTLIST UserObject
    ObjectId CDATA #REQUIRED
    UserId CDATA #REQUIRED
    ObjectKey CDATA #REQUIRED
    ObjectClassName CDATA #REQUIRED
    ObjectData CDATA #IMPLIED
>

<!ELEMENT Group EMPTY>
<!ATTLIST Group
    GroupId CDATA #REQUIRED
    GroupName CDATA #REQUIRED
    Description CDATA #IMPLIED
    IsSystem CDATA #REQUIRED
    IsDisabled CDATA #REQUIRED
>

<!ELEMENT GroupHierarchy EMPTY>
<!ATTLIST GroupHierarchy
    HierarchyId CDATA #REQUIRED
    GroupId CDATA #REQUIRED
    ParentGroupId CDATA #REQUIRED
>

<!ELEMENT UserGroup EMPTY>
<!ATTLIST UserGroup
    ObjectId CDATA #REQUIRED
    UserId CDATA #REQUIRED
    GroupId CDATA #REQUIRED
>

<!ELEMENT Acl EMPTY>
<!ATTLIST Acl
    AclId CDATA #REQUIRED
    OwnerName CDATA #REQUIRED
    OwnerType CDATA #REQUIRED
    IsRole CDATA #REQUIRED
    Permission CDATA #REQUIRED
>

<!ELEMENT Role EMPTY>
<!ATTLIST Role
    RoleId CDATA #REQUIRED
    RoleName CDATA #REQUIRED
    Description CDATA #IMPLIED
>

<!ELEMENT DConf EMPTY>
<!ATTLIST DConf
    ConfId CDATA #REQUIRED
    ConfKey CDATA #REQUIRED
    ConfValue CDATA #IMPLIED
>

<!ELEMENT DMenu EMPTY>
<!ATTLIST DMenu
    MenuId CDATA #REQUIRED
    ParentId CDATA #REQUIRED
    MenuName CDATA #REQUIRED
    Description CDATA #IMPLIED
    Href CDATA #REQUIRED
>

